* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#head {
  background-image: linear-gradient(rgb(54, 54, 54), rgb(40, 40, 40));
  width: 100%;
  min-height: 40px;
  height: 5%;
  border-bottom: 3px solid rgb(10, 10, 10);
}

#head-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;

  overflow: hidden;
}

#score {
  width: 20%;
  color: #eee;
  text-shadow: 0px 0px 2px #444;
  font-size: calc(25px + 0.2vw);
}

#title {
  width: 60%;
  color: #eee;
  text-shadow: 0px 0px 2px #444;
  font-size: calc(25px + 0.2vw);
  text-align: center;
}

#game {
  margin: 0 auto;
  background-color: (0.95, 0.95, 0.95);
  height: 100%;
  max-width: 600px;
  width: 100%;
}

#end-screen {
  position: absolute;
  width: 400px;
  height: 250px;
  left: calc(50% - 200px);
  top: calc(50% - 125px);
  background-image: linear-gradient(#888, #aaa);
  box-shadow: 0 0 2px #777;
  border: 1px solid #555;
}

#end-container {
  position: relative;
}
#end-screen h2 {
  color: #eee;
  font-size: 80px;
  text-align: center;
}

#end-score {
  font-size: 20px;
  text-align: center;
}

#end-screen button {
  position: absolute;
  width: 250px;
  left: 50%;
  margin-top: 10px;
  margin-left: -125px;
  padding: 20px;
  font-size: 40px;
  background-color: #444;
  color: #eee;
}

@media only screen and (max-width: 800px) {
  #head-content {
    width: 90%;
  }
  #score {
    width: 30%;
    font-size: 22px;
    margin: auto 0;
  }

  #title {
    width: 40%;
  }
}
